<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>坐标录入</title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
		<link rel="stylesheet" type="text/css" href="css/map.css" />
		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script src="//cdn1.lncld.net/static/js/3.0.2/av-min.js"></script>
		<script src="js/function.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div id="app">
			
			<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm" style="width: 420px;">
				<el-form-item label="店铺名称" prop="name">
					<el-input v-model="ruleForm.name"></el-input>
				</el-form-item>
				<el-form-item label="店铺类型" prop="type">
					<el-select v-model="ruleForm.type" placeholder="请选择店铺类型">
						<el-option label="美食" value="美食"></el-option>
						<el-option label="亲子" value="亲子"></el-option>
						<el-option label="娱乐" value="娱乐"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="店铺坐标" prop="point">
					<el-input v-model="ruleForm.point" placeholder="高德坐标系统" style="width: 170px;display: inline-block;"></el-input>
					<a href="http://lbs.amap.com/console/show/picker" target="_blank">
						<el-button type="primary" icon="search">
							坐标拾取器
						</el-button>
					</a>
				</el-form-item>

				<el-form-item label="优惠券名称" prop="cardName">
					<el-input v-model="ruleForm.cardName"></el-input>
				</el-form-item>
				<el-form-item label="店铺电话" prop="tel">
					<el-input v-model="ruleForm.tel"></el-input>
				</el-form-item>
				<el-form-item label="店铺地址" prop="address">
					<el-input v-model="ruleForm.address"></el-input>
				</el-form-item>
				
				<el-form-item label="店铺Logo" prop="logo">
					<el-input v-model="ruleForm.logo" readonly></el-input>
					
					<el-button type="primary">上传<i class="el-icon-upload el-icon--right"></i>
						<input type="file" id="up-load" />
					</el-button>
					
					<img :src="ruleForm.logo" width="120"/>
					
				</el-form-item>
				
				<el-form-item label-width="100px">
					<el-button type="primary" @click="submitForm('ruleForm')" :loading="btnLoading">保存</el-button>
					<el-button @click="resetForm('ruleForm')">重置</el-button>
				</el-form-item>
				
				
				
			</el-form>

		</div>

		<script>
			//将url中的参数转换成json格式
			function urlToJson(){	//默认参数为当前链接
				var url = arguments[0] || window.location.href;
				if( url.indexOf('?')<0 ){
					return false;		//不存在参数返回false
				}else{
					var paraString = url.substring(url.indexOf('?') + 1,url.length);
					var paraJsonString;
					paraJsonString = paraString.replace(/\=/g,"\"\:\"");
					paraJsonString = paraJsonString.replace(/\&/g,"\",\"");
					paraJsonString = paraJsonString.replace(/\+/g," ");
					paraJsonString = paraJsonString.replace(/\%26/g,"&");
					paraJsonString = paraJsonString.replace(/\%2F/g,"\/");
					paraJsonString = paraJsonString.replace(/\%0A/g,"\:");
					paraJsonString = '{"' + paraJsonString + '"}';
				    return JSON.parse(paraJsonString);
				}
			}
			var urlData = urlToJson();
			
			var MapSaver = AV.Object.extend('Map');
			var mapSaver = new MapSaver();
			var query = new AV.Query('Map');
			var curObj;
			var app = new Vue({
				preview: '',
				el: '#app',
				data: {
					btnLoading: false,
					currentPage: 1,
					pageSize: 20,
					total: 0,
					tableData: [],
					ruleForm: {
						name: '',
						type: '',
						point: '',
						cardName: '',
						address: '',
						logo: '',
					},
				},
				methods: {
					handleDelete: function(id) {
						query.get(this.tableData[id].id).then(function (todo) {
						    todo.destroy().then(function (success) {
							    app.$message({message:"删除成功",type: 'success'});
							  }, function (error) {
							    // 删除失败
							  });
						}, function (error) {});
						this.tableLength--;
						this.tableData.splice(id, 1);
					},
					handleSizeChange (val ) {
						console.log('每页 ${val} 条');
					},
					handleCurrentChange(val) {
						console.log('当前页: ${val}');
					},
					submitForm(formName) {
						this.$refs[formName].validate((valid) => {
							if(valid) {
								app.btnLoading = true;
								curObj.set('point',app.ruleForm.point);
								curObj.set('name',app.ruleForm.name);
								curObj.set('type',app.ruleForm.type);
								curObj.set('cardName',app.ruleForm.cardName);
								curObj.set('tel',app.ruleForm.tel);
								curObj.set('address',app.ruleForm.address);
								curObj.set('logo',app.ruleForm.logo);
								curObj.save().then(function (todo) {
								    app.$message({message:'成功',type: 'success'});
						    		setTimeout(() => { history.back(-1); }, 1000);
								}, function (error) {
								    console.error(error);
								});
							} else {
								console.log('error submit!!');
								return false;
							}
						});
					},
					resetForm(formName) {
						this.$refs[formName].resetFields();
					}
				},
			});
			
			
			query.get(urlData.id).then(function(item) {
					curObj = item;
					var temp = new Object();
					temp.point = item.get('point');
					temp.name = item.get('name');
					temp.type = item.get('type');
					temp.logo = item.get('logo');
					temp.cardName = item.get('cardName');
					temp.createdAt = item.get('createdAt').Format('yyyy-MM-dd hh:mm:ss');
					temp.address = item.get('address');
					temp.tel = item.get('tel');
					temp.id = item.id;
					app.ruleForm = temp;
			}, function(error) {});
			
			var fileUploadControl = document.getElementById("up-load");
			fileUploadControl.onchange = function(){
				if (fileUploadControl.files.length > 0) {
			      var localFile = fileUploadControl.files[0];
			      var name = 'jhshlogo.jpg';
			      var file = new AV.File(name, localFile);
			      file.save().then(function(file) {
			        // 文件保存成功
			        app.ruleForm.logo = file.url();
			      }, function(error) {
			        // 异常处理
			        console.error(error);
			      });
			    }
			}
		</script>
	</body>

</html>